<h1>Listing submission_files</h1>

<table>
  <tr>
    <th>Filename</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @submission_files.each do |submission_file| %>
  <tr>
    <td><%= submission_file.filename %></td>
    <td><%= submission_file.code %></td>
    <td><%= link_to 'Show', submission_file %></td>
    <td><%= link_to 'Edit', edit_submission_file_path(submission_file) %></td>
    <td><%= link_to 'Destroy', submission_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Submission file', new_submission_file_path %>
